*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    background: #859F3D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 40em;
    /* height: 30em; */
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%; */
}
.game-container{
    margin: 1.0em;
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.status_container{
    text-align: right;
    margin-bottom: 0.1em;
}
.status_container span{
    font-weight: 600;
}
.card-continer{
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}
.image{
    width: 5em;
    height: 5em;
}
.card-before,.card-after{
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    transition: transform 0.5s ease-out;
    backface-visibility: hidden;
}
.card-before{
    background-color: #859F3D;
    font-size: 2.8em;
    font-weight: 600;
}
.card-after{
    background: white;
    transform: rotateY(180deg);
}
.card-continer.flipped .card-after{
    transform: rotateY(180deg);
}
.card-continer.flipped .card-after{
    transform: rotateY(0deg);
}
.control-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #859F3D;
    top: 0;
}
button{
    border: none;
    border-radius: 1em;
    padding: 1em 1.5em;
    cursor: pointer;
}
#stop{
    display: block;
    font-size: 1.1em;
    /* margin: 1.1em auto 0 auto; */
    background: black;
    color: white;
}
.control-container button{
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em black;
}
.hide{
    display: none;
}
#result{
    text-align: center;
}
#result h2{
    font-size: 2.5em;
}
#result h4{
    font-size: 1.8em;
    margin: 0.6em 0  0;
}

@media screen and (max-width: 768px) {
    .main{
        width: 100vw;
        height: 100vh;
    }
    .wrapper{
        width: 100vw;
    }
    .status_container{
        font-size: 25px;
        margin: 20px 20px 0px 20px;
    }
    .game-container{
        margin: 20px 0px;
        width: 100%;
        gap: 10px;
    }
    .card-continer{
        width: 20vw;
        height: 20vw;
    }
    .image{
        width: 20vw;
        height: 20vw;
    }
    #stop{
        margin: 20px;
    }
}