*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    min-height: 100vh;
    background: #2E073F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background: #7A1CAC;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    margin: 5px;
    outline: none;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px 0px;
    background: transparent;
    box-shadow: -8px -8px 15px #2E073F,5px 5px 15px #AD49E1;
    font-size: 20px;
    cursor: pointer;
    color: #EBD3F8;
    text-shadow: black 2px 2px 5px;
}
form input.equal{
    width: 135px;
}
.calculator form input:hover{
    box-shadow: -1px -1px 10px #2E073F,1px 1px 10px #AD49E1;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    box-shadow: none;
    outline: none;
    font-size: 45px;
    flex: 1;
}

@media screen and (max-width: 768px)  {
    .calculator form input{
        width: 40px;
        height: 40px;
        font-size: 10px;
    }
    form input.equal{
        width: 95px;
    }
}